.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.ant-select-focused {
  border-color: #78067a!important;
  box-shadow: 0 0 0 2px rgba(148, 63, 165, 0.2)!important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #E3D3EF!important;;
}