.sidebar {
  background-color: #440645;
  height: 100vh;
}

.text-uppercase {
  text-transform: uppercase;
}

.ant-layout-header {
  height: 54px;
  line-height: 54px;
}

.ant-menu-dark .ant-menu-item-selected::after {
  border-right: 0;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: inherit;
  border-bottom: 2px solid #b20eb4;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #b20eb4;
}