.content {
  background-color: #fdda5a;
  height: 100vh;
}

.rotate {
  background-color: transparent;
  transform: rotate(90deg);
}

.cursor-pointer {
  cursor: pointer;
}

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.headerTitle {
  font-size: 38px;
  font-weight: 800;
}

.subTitle {
  font-size: 20px;
}

.priceTitle {
  font-size: 38px;
  font-weight: 800;
  color: #440645;
}

.coinName {
  font-size: 20px;
}


.image-button {
  cursor: pointer;
}

.image-button:hover {
  border: 1px solid;
  border-color: transparent;
}

.ant-input:focus,
.ant-input-number-focused,
.ant-input-affix-wrapper-focused,
.ant-select-focused {
  border-color: #78067a!important;
  box-shadow: 0 0 0 2px rgba(148, 63, 165, 0.2)!important;
}

.ant-input:hover,
.ant-input-number:hover,
.ant-input-affix-wrapper:hover {
  border-color: #78067a!important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #E3D3EF!important;;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.sidebar {
  background-color: #440645;
    height: 100vh;
    /* border-style: none dashed none none;
    border-color: white;
    border-width: thick; */
    background-image: linear-gradient(to bottom, #440645 50%, White 50%);
    background-position: right;
    background-size: 8px 50px;
    background-repeat: repeat-y;
}
