.Billing {
  position: absolute;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 1px solid #e6e6e9;

  .submit-button {
    width: 100%;
  }
}

.type, .price, .method {
  font-size: 36px;
  color: #440645;
  font-weight: bold;
  text-align: center;
}

.method {
  font-size: 24px;
  margin-top: -16px;
  color: #440645;
}

.price {
  font-size: 40px;
  margin-bottom: 40px
}

.stripe-button {
  margin: 10px;
}

.paypal-button {
  margin: 10px;
}

.btn-group {
  justify-content: center;
  text-align: center;
}

.stripe-payment {
  .stripe {
    display: block;
  }

  .paypal {
    display: none;
  }
}

.paypal-payment {
  .stripe {
    display: none;
  }

  .paypal {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .Billing {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .Billing {
    width: 75%;
  }
}

@media screen and (max-width: 1000px) {
  .Billing {
    width: 60%;
  }
}

@media screen and (min-width: 1001px) {
  .Billing {
    width: 50%;
  }
}