a {
  color: white;
}

.yellow {
  color: yellow;
}

.elafki {
  position: absolute;
  right: 0;
  bottom: 0;
}

.features-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.features-link {
  color: #A1A1A1;
  margin: 4px 0;
}

.features-link:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #features {
    display: none;
  }

  #elafaki-logo {
    display: none;
  }
}
