.profit-page {
  min-height: 100%;

  .content {
    background-color: #afa2cf;
  }

  .purple-bg {
    background-color: #8053a1;
    padding: 20px;
    background-image: linear-gradient(to bottom, #8053a1 50%, White 50%);
    background-position: left;
    background-size: 8px 50px;
    background-repeat: repeat-y;
  }

  .ant-space {
    width: 100%;
  }
  
  .main-wrapper {
    padding: 2%;
    margin-top: 10px;

    .row-item {
      width: 100%;
      text-align: left;
      padding: 0 2% 24px 2%;
    }

    .content-row {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .calc-button {
    background-color: #440645;
    border: 0;
    margin-top: 14px;
  }

  .bitcoin {
    display: flex;
    justify-content: right;

    .imgage {
      margin-right: 40px;
    }
  } 

  .item-title {
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
  }

  @media only screen and (min-width: 1920px) {
    .content-row {
      padding-left: 14%;
      padding-right: 14%;
    }  
  }
}