.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: #440645;
  height: 100%;
}

.content {
  background-color: #ffcece;
  height: 100vh;
}

.rotate {
  background-color: transparent;
  transform: rotate(90deg);
}

.cursor-pointer {
  cursor: pointer;
}

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.headerTitle {
  font-size: 38px;
  font-weight: 800;
}

.subTitle {
  font-size: 20px;
}

.priceTitle {
  font-size: 38px;
  font-weight: 800;
  color: #440645;
}

.coinName {
  font-size: 20px;
}


.image-button {
  cursor: pointer;
}

.image-button:hover {
  border: 1px solid;
  border-color: transparent;
}

.ant-input:focus,
.ant-input-number-focused,
.ant-input-affix-wrapper-focused,
.ant-select-focused {
  border-color: #78067a!important;
  box-shadow: 0 0 0 2px rgba(148, 63, 165, 0.2)!important;
}

.ant-input:hover,
.ant-input-number:hover,
.ant-input-affix-wrapper:hover {
  border-color: #78067a!important;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}